.extraMargin {
    margin-left: 20px;
}

.sidebarStyle {
    border: 1px #f0f0f0 solid;
    border-radius: 5px;
    background: #fcfcfc;
}

.sidebarStyle ul {
    list-style: none;
}

.sidebarStyleHighWidth{
    composes: sidebarStyle;
    width: 300px;
}

.sidebarStyleLowWidth{
    composes: sidebarStyle;
    width: 94%;
}

.sidebarStyleLowWidth ul {
    width: 100%;
}

.sidebarStyleLowWidth li {
    width: 100%;
}

.sidebarStyle li:hover {
    width: 85%;
    background: #f3f3f3;
    transition: background 150ms ease-in;
}

.sidebarStyle a {
    text-decoration: none;
    color: inherit;
}

.sidebarStyle a:visited {
    color: inherit;
}

button {
    margin-top: 20px;
}